#front-projects{
  border: 1pt dotted red;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#front-projects img,#front-projects figure{
  width: 360px;
}

#front-projects figure{
  display: inline-block;
}

#front-projects figure:not(:last-child){
  margin-right: 35px;
}

#front-projects>.nav h2,#front-projects>.nav div{
  display: inline-block;
  vertical-align:middle;
}

#front-projects>.nav h2{
  font-size: 3em;
}

#front-projects>.nav{
  padding:2em 0;
  text-align: left;
}

#front-projects>.nav>div a{
    display: inline-block;
}

#front-projects>.nav>div{
  text-align: right;
}


#front-projects>.nav>div a:first-child{
  padding-left: 200px;
}

#front-projects>.nav>div a{
  padding-right: 50px;
}
