nav#top-nav{
  background-color: #272727;
  height: 100px;
  padding: 0 5% 0 5%;
}

nav#top-nav>div:first-child{
  float: left;
  padding: 30px 0 30px 0;
}

nav#top-nav>div{
  float: right;
  padding: 40px 0 40px 90px;

}

nav#top-nav>div>ul>li{
  padding: 0 15px 0 15px;
  font-size: 1.2em;
}

nav#top-nav>div:last-child{
  font-size: 0.9em;
  font-weight: bold;
}


nav#top-nav>div>ul>li,
nav#top-nav h3,
nav#top-nav .logo{
  float: left;
}

nav#top-nav small{
  display: block; /*change inline and block */
  color:#7e7e7e;
  font-size: 0.7em;
  font-weight: normal;
}

nav#top-nav a{
  color: white;
}

nav#top-nav span{
  color:#7e7e7e;
}

.clearfix{
  width: 100%;
  clear:both;
}

#front-carousel{
  background-color: #272727;
  padding-bottom: 10vh;
}

#front-carousel>div{
    background-color: #272727;
}

#front-carousel>div>div{

  margin: 0 5vw 0 5vw;
  height: 75vh;
  width: 72vw;
  background-image: url(../Images/carouselHouse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15vh;
  padding-left: 32vh;
}

.front-carousel-innertext{

  height:67%;
  width: 80%;
}

.front-carousel-innertext>div{
  height: 50px;
  float: left;
}

.front-carousel-innertext>div:first-child{
  width: 13vw;
  height: 100%;
  border: 4px solid #cee002;
}

.front-carousel-innertext>div:last-child{
  width: 43.5vw;
  height: 99%
}

.front-carousel-innertext h3:first-child{
  padding-top: 7vh;
  padding-left:  5vh;
  color: white;
}

.front-carousel-innertext h3:nth-child(2){

  width: 200%;
  padding-top: 2vh;
  padding-left:  5vh;
  font-size: 4em;
  color: white;
}

.front-carousel-innertext h4{
    padding-left: 5vh;
    color: white;
    padding-top: 10vh;
}

.front-carousel-minwin{
 color: white;
 padding-top: 50vh;
 padding-left: 40vw;
}

.front-carousel-minwin i:first-child{
  color: #cee002;
}


/*FRONT ABOUT US*/
#front-about-us{
  padding: 10vh 20vw;
  background-color: #272727;
}


.front-about-us-text{
  width: 30vw;
  height: 80vh;
  float: left;
}

.front-about-us-text>h4{
    color: #cee002;
    letter-spacing: 0.1vw;
}

.front-about-us-text>h2{
  color: white;
  font-size: 3.5vh;
  padding-top: 3vh;
}

.front-about-us-text>p{
  padding-top: 7vh;
  color: #7e7e7e;
  line-height: 3vh;
  font-size: 1.6vh;
}

.front-about-us-text>div{
  height: 15vh;
  width: 15vh;
  border: 5px solid #cee002;
  margin-top: 22vh;
}

.front-about-us-square-text{
  padding: 0.1px;
  margin-top: 2vh;
  margin-left: 2.8vw;
  width: 14.5vw;
}
.front-about-us-square-text>h3:first-child{
  color: white;
  font-size:10vh;
  float: left;

}

.front-about-us-square-text>h3:nth-child(2){
  margin-top: 1.4vh;
  margin-left: 0.3vw;
  color: white;
  width: 8vw;
  font-size: 2.5vh;
  font-weight: normal;
  float: right;

}

.front-about-us-picture{
  width: 28vw;
  height: 80vh;
  float: right;
}

.front-about-us-dots{
  width: 23vw;
  height: 40vh;
  margin-top: 40vh;
  background: url(../Images/dots.png) 0 0 repeat;
  padding: 0.1px;
}

.front-about-us-dots>div{
  width: 25vw;
  height: 70vh;
  background-image: url(../Images/frontAboutUs.jpg);
  background-size: cover;
  margin-top: -40vh;
  margin-left: 5vw;
}
